{% extends 'base.html.twig' %}

{% block title %}DisplayProd index{% endblock %}

{% block body %}
    <h1>DisplayProd index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Url</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for display_prod in display_prods %}
            <tr>
                <td>{{ display_prod.id }}</td>
                <td>{{ display_prod.name }}</td>
                <td>{{ display_prod.url }}</td>
                <td>{{ display_prod.createdAt ? display_prod.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ display_prod.updatedAt ? display_prod.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('display_prod_show', {'id': display_prod.id}) }}">show</a>
                    <a href="{{ path('display_prod_edit', {'id': display_prod.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('display_prod_new') }}">Create new</a>
{% endblock %}
